section.sec-slide.top.text-left
	h3 Criando
	.col-3.fragment
		img(src="img/ai.png", alt="Illustrator")
		p Illustrator
	.col-3.fragment
		img(src="img/sketch.png", alt="Sketch")
		p Sketch
	.col-3.fragment
		img(src="img/inkscape.png", alt="Inkscape")
		p Inkscape
