section
	section.top.sec-slide
		h3.text-left Estrutura
		pre
			code.
				<svg
				version="1.1"
				xmlns="http://www.w3.org/2000/svg"
				xmlns:xlink="http://www.w3.org/1999/xlink">
					<!-- código para o desenho -->
				</svg>

		ul
			li SVG: elemento pai que irá conter o desenho
			li Version: versão utilizada para criação
			li xmlns: namespace do svg e sua especificação

	section.top.sec-slide
		h3.text-left Rect
		pre
			code.svg.
				<svg height="200" width="500" viewBox="0 0 500 200">
					<rect x="50" y="30" width="300" height="200" fill="#0562dc"></rect>
				</svg>
		svg(class="middle" height="200" width="500" viewBox="0 0 500 200")
			rect(x="0" y="0" width="500" height="200" fill="#0562dc")

	section.top.sec-slide
		h3.text-left Circle
		pre
			code.svg.
				<svg height="200" width="200" viewBox="0 0 200 200">
				  <circle cx="100" cy="100" r="100" fill="#0562dc" />
				</svg>
		svg(class="middle" height="200" width="200" viewBox="0 0 200 200")
			circle(cx="100" cy="100" r="100" fill="#0562dc")

	section.top.sec-slide
		h3.text-left Ellipse
		pre
			code.svg.
				<svg height="200" width="200" viewBox="0 0 200 200">
				  <ellipse cx="100" cy="60" rx="100" ry="50" fill="#0562DC" />
				</svg>
		svg(class="middle" height="200" width="200" viewBox="0 0 200 200")
			ellipse(cx="100" cy="60" rx="100" ry="50" fill="#0562DC")

	section.top.sec-slide
		h3.text-left Line
		pre
			code.svg.
				<svg height="200" width="200" viewBox="0 0 200 200">
				  <line x1="20" y1="10" x2="180" y2="60" stroke="#0562DC" stroke-width="4"/>
				</svg>
		svg(style="border:1px solid #ccc" class="middle" height="200" width="200" viewBox="0 0 200 200")
			line(x1="20" y1="10" x2="180" y2="60" stroke="#0562DC" stroke-width="4")

	section.top.sec-slide
		h3.text-left Polyline
		pre
			code.svg.
				<svg height="200" width="200" viewBox="0 0 200 200">
				  <polyline points="0,40 40,40 40,80 80,80 80,120 120,120 120,160, 160, 160, 160, 200" fill="red" stroke="#0562DC" stroke-width="4"/>
				</svg>
		svg(style="border:1px solid #ccc" class="middle" height="200" width="200" viewBox="0 0 200 200")
			polyline(points="0,40 40,40 40,80 80,80 80,120 120,120 120,160, 160, 160, 160, 200" fill="red" stroke="#0562DC" stroke-width="4")

	section.top.sec-slide
		h3.text-left Polygon
		pre
			code.svg.
				<svg height="200" width="200" viewBox="0 0 200 200">
				  <polygon points="50,5 100,5 125,30 125,80 100,105 50,105 25,80 25,30" fill="#0562DC" stroke="#000" stroke-width="4"/>
				</svg>
		svg(class="middle" height="200" width="200" viewBox="0 0 200 200")
			polygon(points="50,5 100,5 125,30 125,80 100,105 50,105 25,80 25,30" fill="#0562DC" stroke="#000" stroke-width="4")

	section.top.sec-slide
		h3.text-left Path
		pre
			code.svg.
				<svg height="200" width="200" viewBox="0 0 200 200">
				  <path d="M10 80 C 40 10, 65 10, 95 80 S 150 150, 180 80" stroke="#0562DC" stroke-width="5" fill="transparent"/>
				</svg>
		svg(class="middle" height="200" width="200" viewBox="0 0 200 200")
			path(d="M10 80 C 40 10, 65 10, 95 80 S 150 150, 180 80" stroke="#0562DC" stroke-width="5" fill="transparent")
		br
		a(href="http://codepen.io/willianjusten/full/dPWdbQ", target="_blank") Veja mais no codepen
