section.top.sec-slide
	h3.text-left Estrutura
	pre
		code(data-trim).
			<svg height="200" width="200" viewBox="0 0 200 200">
				<polygon fill="yellow" points="100,10 40,198 190,78 10,78 160,198"/>
			</svg>
	ul
		li SVG: elemento principal que irá conter o desenho.
		li ViewBox: caixa que irá delimitar os elementos.
		li polygon: uma das formas que o SVG possui.
	svg(fill="yellow" height="200" width="200" viewBox="0 0 200 200")
		polygon(points="100,10 40,198 190,78 10,78 160,198")






