section.sec-slide
	h3 As vezes eu escrevo...
	a(href="http://willianjusten.com.br", target="_blank") willianjusten.com.br
	.fragment
		hr
		h4 E faço código open source também...
		a( href="http://github.com/willianjusten", target="_blank") github.com/willianjusten
