section.sec-slide.top.text-left
	h3 Por que usar SVG?
	ul
		li.fragment Responsivo e Adaptativo
		li.fragment Ótimo suporte (até IE8!)
		li.fragment Pode ser minificado (GZIP)
		li.fragment Interativo e Estilizável
		li.fragment Possui efeitos próprios
		li.fragment Possui bastante acessibilidade
