section.sec-slide
	.text
		p.
		span.bold Scalable Vector Graphics (SVG)
		|  <br> É uma imagem vetorial no formato
		span.bold  XML
		|  que suporta
		span.bold  interatividade
		|  e
		span.bold  animações.
