doctype html
html
	include inc/head
	body
		.reveal
			.slides
				include ../slides/titulo
				include ../slides/sobre
				include ../slides/o-que-faco
				include ../slides/aviso
				include ../slides/o-que-e
				include ../slides/historico
				include ../slides/por-que-usar
				include ../slides/science
				include ../slides/criando
				include ../slides/baixando
				include ../slides/otimizando
				include ../slides/como-funciona
				include ../slides/estrutura
				include ../slides/atomic
				include ../slides/como-estilizar
				include ../slides/css-no-svg
				include ../slides/como-usar
				include ../slides/usando-svg
				include ../slides/demo
				include ../slides/logo-weekly.html
				include ../slides/logo-responsiva
				include ../slides/menu-hamburguer.html
				include ../slides/interativo.html
		include inc/scripts
