doctype html
html
	include inc/head
	body
		.reveal
			.slides
				include ../slides/titulo
				include ../slides/sobre
				include ../slides/o-que-faco
				include ../slides/aviso
				include ../slides/o-que-e
				include ../slides/historico
				include ../slides/por-que-usar
				include ../slides/science
				include ../slides/criando
				include ../slides/baixando
				include ../slides/otimizando
				include ../slides/logo-weekly.html
		include inc/scripts
