head
	meta(charset="UTF-8")
	meta(name="description" content="Criando Experiências em SVG")
	meta(name="author" content="Willian Justen de Vasconcellos")
	meta(name="viewport" content="width=device-width, initial-scale=1.0")
	link(rel="stylesheet", type="text/css", href="css/main.css")
	script(src="js/vendor/reveal.min.js")
