@import "vendor/reveal"
@import "vendor/white"
@import "vendor/zenburn"

main = #0562dc

.reveal
	.bigger
		font-size 4em
	.text-left
		text-align: left
	.text-right
		text-align: right
	.sec-slide
		h1,h2,h3,h4,p
			color main
		hr
			border-color main
	.center
		text-align center
		display block
		margin auto
.rounded
	border-radius 50%

.globo-logo
	width 180px

