@import "vendor/reveal"
@import "vendor/white"
@import "vendor/zenburn"
@import "vendor/chartist"

main = #0562dc

.white
	color white !important

.reveal
	.bigger
		font-size 4em
	.text-left
		text-align left
	.text-right
		text-align right
	.top
		top 0 !important
	.sec-slide
		h1,h2,h3,h4,.text
			color main
		hr
			border-color main
	.center
		text-align center
		display block
		margin auto
	.text
		font-size 1.1em
		line-height 1.5em
	ul
		margin-top 30px
		li
			line-height 2em

.rounded
	border-radius 50%

.globo-logo
	width 180px

.bold
	font-weight 800 !important
